.hero-section {
  background-color: #000; /* Cor de fundo para a seção do cabeçalho */
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.hero-text {
  margin-top: 20px;
}

.carousel-container {
  width: 100%;
}

.carousel-item img {
  height: 100vh; /* Ocupa toda a altura da tela */
  width: 100%;
  object-fit: cover;
}

.room-section {
  display: flex;
  height: 100vh; /* Ocupa toda a altura da tela */
}

.room-image, .room-details {
  flex: 1; /* Cada um ocupa 50% da largura */
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.room-details {
  background-color: #f8f9fa; /* Cor de fundo clara */
  padding: 2rem;
}

.room-details h2 {
  margin-bottom: 1rem;
}

.room-details p {
  margin-bottom: 2rem;
}

.room-details button {
  display: block;
}
