.hero-section {
  background-color: #000; /* Cor de fundo para a seção do cabeçalho */
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.hero-text {
  margin-top: 20px;
}

.carousel-container {
  width: 100%;
}

.carousel-item img {
  height: 70vh; /* Ocupa toda a altura da tela */
  width: 100%;
  object-fit: cover;

}

.room-section {
  margin-top: 40px;
}

.room-image img {
  width: 100%;
  height: auto;
}

.room-details {
  padding: 20px;
}

.room-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.room-details p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.room-details .btn {
  width: 100%;
  padding: 10px;
}

.azul {
  background-color: rgb(11, 11, 165);
}